/*box-sizing: border-box for all elements*/
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
a {/*link text, the logo, and icons are surrounded by anchor tags*/
    padding: 2em;
    display: inline-block;
    font-family: Montserrat, Work Sans;
}
nav {
    font-size: .75em;
    background: #333333;
    padding: .2em;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
nav a {
    text-decoration: none;
    color: white;
    font-family: Verdana;
    display: inline-block; /* inline-block to increase clickable area beyond the text */
    padding: 1em;
}
/*links turn blue on hover*/
nav a:hover {
    background: blue;
}
.logo {
    font-size: 3em;
    padding: .2em 0;
    margin: 0 auto;
}







/*anchor tags are display: inline-block*/


/*clickable area of links immediately flow from one link to the next (padding will help achieve this)*/


/*Google Fonts used for logo and link text ("Montserrat" and "Work Sans", respectively)*/


/*the "Logo" text is 3em with .2em of padding above and below*/


/*                              no explicit height given to the navbar*/


/*                              default styling is removed as needed from the body, unordered list and anchor tag elements*/


/*logo is horizontally centered on the navbar (automatic margins will help achieve this)*/
