h1.fancy-header {
    color: purple;
    text-decoration: underline;
    text-align: center;
}
.centered, .colored{
    text-align: center;
    color: darkred;
}
h2 {
    color: orange;
    text-decoration: underline;
}
h3 {
    color: #cd143c;
    text-decoration: underline;
}
body {
    background-color: transparent;
    background-image: url("../img/pexcolor.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: center;
    background-position-y: top;
    font-family: "American Typewriter";
    color: white;

img {
    border-radius: 15px;
    max-width: 100%;
}

ul {
    list-style: armenian;
}
table {
    padding: 10px 15px;
    font-size: larger;
}
tr {
    padding: 10px 20px;
    font-size: large;

}
td {
    padding: 10px 20px;
    font-size: large;
}

a:link {
    color:red;
}


a:visited {
    color:black;
}


a:hover {
    color:blue;
}


a:active {
    color:green;
}
