* {
    box-sizing: border-box;

}
body {

}
.navbar {
    position: fixed;
    z-index: 1000;
    /*lets make this reflexive for mobile, perhaps with a hamburger*/
    /*display: grid;*/
}
.my-nav {
    padding: 0 20px;
}
main {
    background-image: url("../assets/route66-map.png");

}
.home-title {
    text-align: center;
    padding-top: 20px;
}
main>div {

}
main>p {

}
.img {
    max-width: 300px;
    height: 200px;
    border: 2px dot-dash cornflowerblue;
    border-radius: 10px;
    display: block;
    margin: 0 auto;

}
button {

}
.invisible {
    visibility: hidden;
}
/* (A) SPEECH BOX */
.quote-bbl {
    /* (A1) FONT */
    font-family: arial, sans-serif;
    font-size: 1.1em;

    /* (A2) COLORS */
    color: #fff;
    background: #a53d38;

    /* (A3) DIMENSIONS + POSITION */
    position: relative;
    padding: 20px;
    border-radius: 10px;
    max-width: 320px;
}
/* (B1) USE ::AFTER TO CREATE THE "TAIL" */
.quote-bbl::after {
    /* (B1-1) ATTACH TRANSPARENT BORDERS */
    content: "";
    border: 20px solid transparent;

    /* (B1-2) NECESSARY TO POSITION THE "TAIL" */
    position: absolute;
}

/* (B2) BOTTOM "CALLOUT TAIL" */
.tail.quote-bbl::after {
    /* (B2-1) DOWN TRIANGLE */
    border-top-color: #a53d38;
    border-bottom: 0;

    /* (B2-2) POSITION AT BOTTOM */
    bottom: -20px; left: 50%;
    margin-left: -20px;
}
.fancy-header {
    text-align: center;
    padding: 20px 0;
    color: dodgerblue;
    text-decoration: blink;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 2em;
    font-weight: bold;

}
.q-text {
    font-weight: bold;
    padding: 12px 0;
}
a {
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 2em;
}