* {
    box-sizing: border-box
}
.bg-img {
    background-image: url("assets/r66.jpeg");
}
.home-title {
    text-align: center;
}
main>div {

}
main>p {

}
.img {
    max-width: 300px;
    height: 200px;
    border: 2px dot-dash cornflowerblue;
    border-radius: 10px;
    display: block;
    margin: 0 auto
}
button {

}
.invisible {
    visibility: hidden;
}
/* (A) SPEECH BOX */
.quote-bbl {
    /* (A1) FONT */
    font-family: arial, sans-serif;
    font-size: 1.1em;

    /* (A2) COLORS */
    color: #fff;
    background: #a53d38;

    /* (A3) DIMENSIONS + POSITION */
    position: relative;
    padding: 20px;
    border-radius: 10px;
    max-width: 320px;
}